<!-- <=$ componentPath.split('/').pop() $=>.html start -->
<template id="<=$ componentPath.split('/').pop() | camelToKebab $=>">
  <div>
    <=%- if headContent %=> 
    <!-- 头部内容 >>>>>>>>>>>>> -->
    <div class="jh-page-second-bar px-4">
      <v-row class="align-center" dense>
        <v-col cols="12" xs="12" sm="12" md="4" xl="3">
          <div class="py-4 text-body-1 font-weight-bold d-flex align-center"><=$ pageName $=>
            <=%- if headContent.helpDrawer %=> 
            <!-- 帮助页按钮 -->
            <span role="button" class="success--text font-weight-regular jh-font-size-13 ml-2" @click="isHelpPageDrawerShown = true">
              <v-icon size="13" class="success--text">mdi-help-circle-outline</v-icon>帮助
            </span>
            <=%- endif %=>
          </div>
        </v-col>
        <v-col cols="12" xs="12" sm="12" md="8" xl="9">
          <v-row class="jh-backend-form-container justify-end ma-0 py-3">
            <=%- for ss in headContent.serverSearchList %=>
            <=%- if ss.tag == "v-date-picker" %=> 
            <v-col cols="12" xs="6" sm="4" md="3" xl="2" class="pa-0 pr-0 pl-md-2 pt-2 pt-sm-0">
              <v-menu class="jh-v-input bg-white" transition="scale-transition" offset-y min-width="auto">
                <template v-slot:activator="{on, attrs}">
                <v-text-field v-bind="attrs" v-on="on"  
                    v-model="<=$ ss.model $=>" prefix="<=$ ss.label $=>：" class="jh-v-input bg-white" dense single-line filled clearable></v-text-field>
                </template>
                <v-date-picker color="success" elevation="20" v-model="<=$ ss.model $=>" type='<=$ ss.attrs.type $=>'></v-date-picker>
              </v-menu>
            </v-col>
            <=%- else %=> 
            <v-col cols="12" xs="6" sm="4" md="3" xl="2" class="pa-0 pr-0 pl-md-2 <=% if loop.index > 1 %=>pt-2 pt-sm-0<=% endif %=>">
              <=$ ss | formItemFormat $=>
            </v-col>
            <=%- endif %=>
            <=%- endfor %=>  
            <div class="jh-backend-search-btn">
              <v-btn class="elevation-0 float-right mt-2 mt-md-0" color="success" small @click="doUiAction('getTableData')">
                查询
              </v-btn>
            </div>
          </v-row>
        </v-col>
      </v-row>
    </div>
    <!-- <<<<<<<<<<<<< 头部内容 -->
    <=%- endif %=>

    <!-- 页面内容 >>>>>>>>>>>>> -->
    <div class="jh-page-body-container px-4">
      <=%- if pageContent.tag == 'jhTable' or pageContent.tag == 'jh-table' %=>
      <v-card class="rounded-lg">
        <=%- if pageContent.head %=>
        <v-row class="ma-0 pa-4">
          <!-- 新增按钮 -->
          <v-col cols="12" xs="8" sm="8" md="9" xl="10" class="pa-0">
            <=%- if createDrawerContent %=>
            <v-btn color="success" class="elevation-0 mr-2" @click="doUiAction('startCreateItem')" small>新增</v-btn>
            <=%- endif %=>
            <=%- for action in pageContent.headActionList %=>
            <=$ action | tagFormat $=>
            <=%- endfor %=>
          </v-col>
          <v-spacer></v-spacer>
          <!-- 搜索过滤 -->
          <v-col cols="12" xs="8" sm="4" md="3" xl="2" class="pa-0">
            <v-text-field color="success" v-model="tableSearchInput" prefix="搜索：" class="jh-v-input" dense filled single-line></v-text-field>
          </v-col>
        </v-row>
        <=%- endif %=>
        <!-- 表格 -->
        <v-data-table
          :headers="tableHeaderList"
          :items="tableData"
          :search="tableSearchInput"
          :footer-props="{ itemsPerPageOptions: [20, 50, 200, -1], itemsPerPageText: '每页', itemsPerPageAllText: '所有'}"
          :items-per-page="-1"
          mobile-breakpoint="0"
          :loading="tableLoading"
          checkbox-color="success"
          :class="{'zebraLine': true }"
          fixed-header
          <=%- for attr, value in pageContent.attrs %=>
          <=$ attr | tagAttr(value) $=>
          <=%- endfor %=>
          class="jh-fixed-table-height elevation-0 mt-0 mb-xs-4"
        >
          <=%- for header in pageContent.value %=>
          <=%- if header.formatter %=>
          <template v-slot:item.<=$ header.value $=>="{item, index}">
            <=$ header.formatter | tagFormat(12) $=>
          </template>
          <=%- endif %=>
          <=%- endfor %=>
            
          <!-- 表格操作按钮 -->
          <template v-slot:item.action="{ item }">
            <=%- for action in pageContent.rowActionList %=>
            <=$ action | tagFormat(12) $=>
            <=%- endfor %=>
            <=%- if updateDrawerContent %=>
            <span role="button" class="success--text font-weight-medium font-size-2 mr-2" @click="doUiAction('startUpdateItem', item)">
              <v-icon size="16" class="success--text">mdi-note-edit-outline</v-icon>详情
            </span>
            <=%- endif %=>
            <=%- if deleteContent %=>
            <span role="button" class="error--text font-weight-medium font-size-2" @click="doUiAction('deleteItem', item)">
              <v-icon size="16" class="error--text">mdi-trash-can-outline</v-icon>删除
            </span>
            <=%- endif %=>
          </template>
          <!-- 没有数据 -->
          <template v-slot:loading>
            <div class="jh-no-data">数据加载中</div>
          </template>
          <template v-slot:no-data>
            <div class="jh-no-data">暂无数据</div>
          </template>
          <template v-slot:no-results>
            <div class="jh-no-data">暂无数据</div>
          </template>
          <!-- 表格分页 -->
          <template v-slot:footer.page-text="pagination">
            <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
            <span class="ml-1">共{{pagination.itemsLength}}条</span>
          </template>
        </v-data-table>
      </v-card>
      <=%- else %=>
      <=$ pageContent | tagFormat(6) $=>
      <=%- endif %=>
    </div>
    <!-- <<<<<<<<<<<<< 页面内容 -->

    <=%- if createDrawerContent %=> 
    <!-- 新增抽屉 >>>>>>>>>>>>> -->
    <v-navigation-drawer v-if="isCreateDrawerShown" v-model="isCreateDrawerShown" :permanent="isCreateDrawerShown" fixed temporary right width="80%" class="elevation-24">
      <v-form ref="createForm" lazy-validation>
        <!-- 抽屉标题 -->
        <v-row no-gutters>
          <span class="text-h7 font-weight-bold pa-4">新增信息</span>
        </v-row>
        <v-divider class="jh-divider"></v-divider>
        <v-row class="mt-0 px-4">
          <=%- for formItem in createDrawerContent.formItemList %=>
          <v-col cols="<=$ formItem.cols | default('12') $=>" sm="<=$ formItem.cols | default('12') $=>" md="<=$ formItem.cols | default('4') $=>">
            <span class="jh-input-label"><=%- if formItem.required %=><span class="red--text text--accent-2 ml-1">* </span><=%- endif %=><=$ formItem.label $=></span>
            <=%- if formItem.tag == "v-date-picker" %=> 
            <v-menu class="jh-v-input" transition="scale-transition" offset-y min-width="auto">
                <template v-slot:activator="{on, attrs}">
                <v-text-field v-bind="attrs" v-on="on" v-model="createItem.<=$ formItem.model $=>" :rules="<=$ formItem.rules if formItem.rules else '[]' $=>" class="jh-v-input" dense single-line filled readonly></v-text-field>
                </template>
                <v-date-picker color="success" elevation="20" v-model="createItem.<=$ formItem.model $=>"></v-date-picker>
            </v-menu>
            <=%- else %=> 
            <=$ formItem | formItemFormat('createItem') $=>
            <=%- endif %=>
          </v-col>
          <=%- endfor %=>
        </v-row>
        <!-- 抽屉操作按钮 -->
        <v-row class="justify-end mx-0 my-8 px-4">
            <v-btn color="success" @click="<=$ content.action if content.action else 'doUiAction(\'createItem\')' $=>" small>保存</v-btn>
            <v-btn class="elevation-0 ml-2" @click="isCreateDrawerShown = false" small>取消</v-btn>
        </v-row>
      </v-form>
      <!-- 抽屉关闭按钮 -->
      <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isCreateDrawerShown = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
    <!-- <<<<<<<<<<<<< 新增抽屉 -->
    <=%- endif %=>

    <=%- if updateDrawerContent %=> 
    <!-- 编辑抽屉 >>>>>>>>>>>>> -->
    <v-navigation-drawer v-if="isUpdateDrawerShown" v-model="isUpdateDrawerShown" :permanent="isUpdateDrawerShown" fixed temporary right width="80%" class="elevation-24">
      <v-form ref="updateForm" lazy-validation>
        <!-- 抽屉标题 -->
        <v-row no-gutters>
          <span class="text-h7 font-weight-bold pa-4">详细信息</span>
        </v-row>
        <v-divider class="jh-divider"></v-divider>
        <=%- if updateDrawerContent.otherActionList %=> 
        <v-row>
          <v-col cols="12" class="px-6 pt-0">
            <=% for actionItem in updateDrawerContent.otherActionList %=> 
            <=$ actionItem.tag | tagFormat $=><=% endfor %=>
          </v-col>
        </v-row>
        <=%- endif %=>
        <div class="px-4">
          <v-tabs
            v-model="updateDrawerTab"
            color="success"
          >
            <=%- for content in updateDrawerContent.contentList %=>
            <v-tab key="<=$ content.label $=>">
              <=$ content.label $=>
            </v-tab>
            <=%- endfor %=>
          </v-tabs>
        </div>
        <v-tabs-items v-model="updateDrawerTab">
          <=%- for content in updateDrawerContent.contentList %=>
          <v-tab-item
            key="<=$ content.label $=>"
          >
            <=%- if content.type == "form" %=> 
            <v-row class="mt-0 px-4">
              <=%- for formItem in content.formItemList %=>
              <v-col cols="<=$ formItem.cols | default('12') $=>" sm="<=$ formItem.cols | default('12') $=>" md="<=$ formItem.cols | default('4') $=>">
                <span class="jh-input-label"><=%- if formItem.required %=><span class="red--text text--accent-2 ml-1">* </span><=%- endif %=><=$ formItem.label $=></span>
                <=%- if formItem.tag == "v-date-picker" %=> 
                <v-menu class="jh-v-input" transition="scale-transition" offset-y min-width="auto">
                  <template v-slot:activator="{on, attrs}">
                  <v-text-field v-bind="attrs" v-on="on" v-model="updateItem.<=$ formItem.model $=>" :rules="<=$ formItem.rules if formItem.rules else '[]' $=>" class="jh-v-input" dense single-line filled readonly></v-text-field>
                  </template>
                  <v-date-picker color="success" elevation="20" v-model="updateItem.<=$ formItem.model $=>"></v-date-picker>
                </v-menu>
                <=%- else %=> 
                <=$ formItem | formItemFormat('updateItem') $=>
                <=%- endif %=>
              </v-col>
              <=%- endfor %=> 
            </v-row>

            <!-- 抽屉操作按钮 -->
            <v-row class="justify-end mx-0 my-8 px-4">
                <v-btn color="success" @click="<=$ content.action if content.action else 'doUiAction(\'updateItem\')' $=>" small>保存</v-btn>
                <v-btn class="elevation-0 ml-2" @click="isUpdateDrawerShown = false" small>取消</v-btn>
            </v-row>
            <=%- elif content.type == "component" %=>
            <<=$ content.componentPath.split('/').pop() | camelToKebab $=> v-bind="{<=% for key, value in content.bind %=>'<=$ key $=>': <=$ value $=>, <=%- endfor %=>}"/>
            <=%- endif %=>
          </v-tab-item>
          <=%- endfor %=>
        </v-tabs-items>
      </v-form>
      <!-- 抽屉关闭按钮 -->
      <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isUpdateDrawerShown = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
    <!-- <<<<<<<<<<<<< 编辑抽屉 -->
    <=%- endif %=>

    <=%- for drawer in drawerList %=> 
    <!-- <=$ drawer.title $=> >>>>>>>>>>>>> -->
    <v-navigation-drawer v-model="is<=$ drawer.key | ucfirst $=>DrawerShown" :permanent="is<=$ drawer.key | ucfirst $=>DrawerShown" fixed temporary right width="80%" class="elevation-24">
      <v-form ref="<=$ drawer.key $=>" lazy-validation>
        <=% if drawer.title %=>
        <!-- 抽屉标题 -->
        <v-row no-gutters>
          <span class="text-h7 font-weight-bold pa-4"><=$ drawer.title $=></span>
        </v-row>
        <v-divider class="jh-divider"></v-divider>
        <=% endif %=>
        <=%- if drawer.otherActionList %=> 
        <v-row>
          <v-col cols="12" class="px-6 pt-0">
            <=% for actionItem in drawer.otherActionList %=> 
            <=$ actionItem.tag | tagFormat $=><=% endfor %=>
          </v-col>
        </v-row>
        <=%- endif %=>
        <=% if drawer.contentList.length > 1 %=>
        <div class="px-4">
          <v-tabs
            v-model="<=$ drawer.key $=>DrawerTab"
            color="success"
          >
            <=%- for content in drawer.contentList %=>
            <v-tab key="<=$ content.label $=>">
              <=$ content.label $=>
            </v-tab>
            <=%- endfor %=>
          </v-tabs>
        </div>
        <=% endif %=>
        <v-tabs-items v-model="<=$ drawer.key $=>DrawerTab">
          <=%- for content in drawer.contentList %=>
          <v-tab-item
            key="<=$ content.label $=>"
          >
            <=%- if content.type == "form" %=> 
            <v-row class="mt-0 px-4">
              <=%- for formItem in content.formItemList %=>
              <v-col cols="<=$ formItem.cols | default('12') $=>" sm="<=$ formItem.cols | default('12') $=>" md="<=$ formItem.cols | default('4') $=>">
                <span class="jh-input-label"><=%- if formItem.required %=><span class="red--text text--accent-2 ml-1">* </span><=%- endif %=><=$ formItem.label $=></span>
                <=%- if formItem.tag == "v-text-field" %=> 
                <v-text-field class="jh-v-input" dense single-line filled v-model="<=$ drawer.key $=>.<=$ formItem.model $=>" :rules="<=$ formItem.rules if formItem.rules else '[]' $=>" <=% for key, value in formItem.attrs %=><=$ key | tagAttr(value) $=><=% endfor %=>></v-text-field> 
                <=%- elif formItem.tag == "v-textarea" %=> 
                <v-textarea class="jh-v-input" dense single-line filled v-model="<=$ drawer.key $=>.<=$ formItem.model $=>" :rules="<=$ formItem.rules if formItem.rules else '[]' $=>" <=% for key, value in formItem.attrs %=><=$ key | tagAttr(value) $=><=% endfor %=>></v-textarea>
                <=%- elif formItem.tag == "v-select" %=>
                <v-select class="jh-v-input mr-2" dense filled single-line v-model="<=$ drawer.key $=>.<=$ formItem.model $=>" :rules="<=$ formItem.rules if formItem.rules else '[]' $=>" <=% for key, value in formItem.attrs %=><=$ key | tagAttr(value) $=><=% endfor %=>></v-select> 
                <=%- elif formItem.tag == "v-date-picker" %=> 
                <v-menu class="jh-v-input" transition="scale-transition" offset-y min-width="auto">
                    <template v-slot:activator="{on, attrs}">
                    <v-text-field v-bind="attrs" v-on="on" v-model="<=$ drawer.key $=>.<=$ formItem.model $=>" :rules="<=$ formItem.rules if formItem.rules else '[]' $=>" class="jh-v-input" dense single-line filled readonly></v-text-field>
                    </template>
                    <v-date-picker color="success" elevation="20" v-model="<=$ drawer.key $=>.<=$ formItem.model $=>"></v-date-picker>
                </v-menu>
                <=%- else %=> 
                <=$ formItem | formItemFormat(drawer.key) $=>
                <=%- endif %=>
              </v-col>
              <=%- endfor %=> 
            </v-row>

            <!-- 抽屉操作按钮 -->
            <v-row class="justify-end mx-0 my-8 px-4">
              <=% if content.action %=><=$ content.action | tagFormat $=><=% endif %=>
              <=% if content.actions %=>
              <=% for action in content.actions %=>
                <=$ action | tagFormat $=>
              <=% endfor %=>
              <=% endif %=>
              <v-btn class="elevation-0 ml-2" @click="is<=$ drawer.key | ucfirst $=>DrawerShown = false" small>取消</v-btn>
            </v-row>
            <=%- elif content.type == "component" %=>
            <<=$ content.componentPath.split('/').pop() | camelToKebab $=> v-bind="{<=% for key, value in content.bind %=>'<=$ key $=>': <=$ value $=>, <=%- endfor %=>}"/>
            <=%- endif %=>
          </v-tab-item>
          <=%- endfor %=>
        </v-tabs-items>
      </v-form>
      <!-- 抽屉关闭按钮 -->
      <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="is<=$ drawer.key | ucfirst $=>DrawerShown = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
    <!-- <<<<<<<<<<<<< <=$ drawer.title $=> -->
    <=%- endfor %=>
  </div>
</template>
<=%- for item in includeList %=>
<=$ item | includeFormat $=>
<=%- endfor %=>
<script>
//===// <=% if (pageContent.tag !== 'jh-table') %=>
//===// Vue.component('v-chart', VueECharts);
//===// <=% endif %=>
Vue.component("<=$ componentPath.split('/').pop() | camelToKebab $=>", {
  template: '#<=$ componentPath.split('/').pop() | camelToKebab $=>',
  vuetify: new Vuetify(),
  name: '<=$ componentPath.split('/').pop() | camelToKebab $=>',
  //===// <=%- if common.props | isArray %=> 
  //===// props: <=$ common.props | dump $=>,
  //===// <=%- elif common.props | isObject %=>
  //===// <=$ common.props | variableToVar('props') $=>,
  //===// <=%- endif %=>
  data: () => ({
    // ================================ common ================================
    //===// <=%- if common and common.data %=> 
    //===// <=%- for key, value in common.data %=> 
    //===// <=$ value | variableToVar(key) $=>,
    //===// <=%- endfor %=>
    //===// <=%- endif %=>

    //===// <=%- if headContent %=>
    // ================================ headContent ================================
    //===// <=$ headContent.serverSearchWhere | objToVar('serverSearchWhere') $=>,
    //===// <=$ headContent.serverSearchWhereLike | objToVar('serverSearchWhereLike') $=>,
    //===// <=%- endif %=>
    //===// <=%- if headContent and headContent.helpDrawer %=>
    //===// isHelpPageDrawerShown: false,
    //===// isHelpPageDrawerLoaded: false,
    //===// <=%- endif %=>

    //===// <=%- if (pageContent.tag == 'jhTable' or pageContent.tag == 'jh-table') and pageContent.value %=>
    // ================================ pageContent ================================
    //===// <=$ pageContent.value | removeKey(['formatter']) | listToVar('tableHeaderList') $=>,
    //===// tableData: [],
    //===// tableLoading: true,
    //===// tableSearchInput: null,
    //===// <=%- endif %=>

    //===// <=%- if createDrawerContent %=>
    // ================================ createDrawerContent ================================
    //===// isCreateDrawerShown: false,
    //===// createItem: {},
    //===// createActionData: {},
    //===// <=%- endif %=>

    //===// <=%- if updateDrawerContent %=>
    // ================================ updateDrawerContent ================================
    //===// isUpdateDrawerShown: false,
    //===// updateItem: {},
    //===// updateItemId: null,
    //===// updateActionData: {},
    //===// updateDrawerTab: 0,
    //===// <=%- endif %=>

    //===// <=%- if deleteContent %=>
    // ================================ deleteContent ================================
    //===// deleteItem: {},
    //===// deleteItemId: null,
    //===// <=%- endif %=>

    // ================================ 其他抽屉列表 ================================
    //===// <=%- for drawer in drawerList %=>
    //===// is<=$ drawer.key | ucfirst $=>DrawerShown: false,
    //===// <=$ drawer.key | lcfirst $=>: {},
    //===// <=$ drawer.key | lcfirst $=>DrawerTab: 0,
    //===// <=%- endfor %=>
  }),
  watch: {
    //===// <=%- for key, item in common.watch %=>
    //===// <=$ item | variableToVar(key) $=>,
    //===// <=%- endfor %=>
  },
  //===// <=$ common.computed | variableToVar('computed') $=><=$ ',' if common.computed $=>

  //===// <=%- if not common.created %=>
  async created() {
    //===// <=%- if (pageContent.tag == 'jhTable' or pageContent.tag == 'jh-table') and pageContent.value %=>
    this.doUiAction('getTableData');
    //===// <=%- endif %=>
  },
  //===// <=%- endif %=>

  //===// <=% for key, item in common %=>
  //===// <=%- if key == 'mounted' or key == 'created' %=><=$ item | variableToVar(key) $=>,<=% endif %=><=%- endfor %=>
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      try {
        switch (uiActionId) {
          //===// <=%- if (pageContent.tag == 'jhTable' or pageContent.tag == 'jh-table') and pageContent.value %=>
          case 'getTableData':
            await this.getTableData();
            break;
          //===// <=%- endif %=>  
          
          //===// <=%- if createDrawerContent %=>
          //===// case 'startCreateItem':
          //===//   await this.prepareCreateFormData();
          //===//   await this.openCreateDrawer();
          //===//   break;
          //===// case 'createItem':
          //===//   await this.prepareCreateValidate();
          //===//   await this.confirmCreateItemDialog();
          //===//   await this.prepareDoCreateItem();
          //===//   await this.doCreateItem();
          //===//   await this.closeCreateDrawer();
          //===//   await this.getTableData();
          //===//   break;
          //===// <=%- endif %=>

          //===// <=%- if updateDrawerContent %=>
          //===// case 'startUpdateItem':
          //===//   await this.prepareUpdateFormData(uiActionData);
          //===//   await this.openUpdateDrawer();
          //===//   break;
          //===// case 'updateItem':
          //===//   await this.prepareUpdateValidate();
          //===//   await this.confirmUpdateItemDialog();
          //===//   await this.prepareDoUpdateItem();
          //===//   await this.doUpdateItem();
          //===//   await this.closeUpdateDrawer();
          //===//   await this.getTableData();
          //===//   break;
          //===// <=%- endif %=>

          //===// <=%- if deleteContent %=>
          //===// case 'deleteItem':
          //===//   await this.prepareDeleteFormData(uiActionData);
          //===//   await this.confirmDeleteItemDialog();
          //===//   await this.prepareDoDeleteItem();
          //===//   await this.doDeleteItem();
          //===//   await this.clearDeleteItem();
          //===//   await this.getTableData();
          //===//   break;
          //===// <=%- endif %=>

          //===// <=%- for key, value in common.doUiAction %=> 
          //===// case '<=$ key $=>':
          //===//   <=%- for method in value %=> 
          //===//   await this.<=$ method $=>(uiActionData);
          //===//   <=%- endfor %=>
          //===//   break;
          //===// <=%- endfor %=>

          default:
            console.error("[doUiAction] uiActionId not find", {uiActionId});
            break;
        }
      } catch (error) {
        throw error;
      } finally {
        window.jhMask && window.jhMask.hide();
      }
    },

    //===// <=%- if (pageContent.tag == 'jhTable' or pageContent.tag == 'jh-table') and pageContent.value %=>
    // ---------- 获取表格数据 uiAction >>>>>>>>>> --------
    async getTableData() {
      this.tableLoading = true;
      const where = {};
      const whereLike = {};
      //===// <=%- if headContent.serverSearchWhere %=>
      //===// for (const fieldKey in this.serverSearchWhere) {
      //===//   const fieldValue = this.serverSearchWhere[fieldKey];
      //===//   if(!!fieldValue && fieldValue != '全部') {
      //===//     where[fieldKey] = fieldValue;
      //===//   }
      //===// }
      //===// <=%- endif %=>
      //===// <=%- if headContent.serverSearchWhereLike %=>
      //===// for (const fieldKey in this.serverSearchWhereLike) {
      //===//   const fieldValue = this.serverSearchWhereLike[fieldKey];
      //===//   if(!!fieldValue && fieldValue != '全部') {
      //===//     whereLike[fieldKey] = fieldValue;
      //===//   }
      //===// }
      //===// <=%- endif %=>

      const rows = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: '<=$ pageId $=>',
            actionId: 'selectItemList',
            actionData: {},
            where,
            whereLike,
            orderBy: [{column: 'operationAt', order: 'desc'}]
          }
        }
      })).data.appData.resultData.rows;
      this.tableData = rows;
      this.tableLoading = false;
    },
    // ---------- <<<<<<<<<<< 获取表格数据 uiAction ---------
    //===// <=%- endif %=>

    //===// <=%- if createDrawerContent %=>
    // ---------- 新增数据 uiAction >>>>>>>>>> --------
    //===// async prepareCreateFormData() {
    //===//   this.createItem = {
    //===//     <=%- for formItem in createDrawerContent.formItemList %=> 
    //===//     <=%- if formItem.default is defined %=> 
    //===//     <=$ formItem.model $=>: '<=$ formItem.default $=>', 
    //===//     <=%- endif %=>
    //===//     <=%- endfor %=>
    //===//   };
    //===// },
    //===// async openCreateDrawer() {
    //===//   this.isCreateDrawerShown = true;
    //===// },
    //===// async prepareCreateValidate() {
    //===//   if (await this.$refs.createForm.validate()) {
    //===//     return true;
    //===//   }
    //===//   throw new Error("请完善表单信息")
    //===// },
    //===// async confirmCreateItemDialog() {
    //===//   if (await window.confirmDialog({title: "新增", content: "确定新增吗？"}) === false) {
    //===//     throw new Error("[confirmCreateFormDialog] 否");
    //===//   }
    //===// },
    //===// prepareDoCreateItem() {
    //===//   const {id, ...data} = this.createItem;
    //===//   this.createActionData = {
    //===//     <=%- for formItem in createDrawerContent.formItemList %=> 
    //===//     <=%- if formItem.model %=>
    //===//     <=$ formItem.model $=>: data.<=$ formItem.model $=>,
    //===//     <=%- endif %=>
    //===//     <=%- endfor %=>
    //===//   };
    //===// },
    //===// async doCreateItem() {
    //===//   await window.jhMask.show();
    //===//   await window.vtoast.loading("新增数据");
    //===//   await window.jianghuAxios({
    //===//     data: {
    //===//       appData: {
    //===//         pageId: '<=$ pageId $=>',
    //===//         actionId: 'insertItem',
    //===//         <=%- if idGenerate %=>
    //===//         bizIdGenerate: {
    //===//           type: "idSequence",
    //===//           prefix: "<=$ idGenerate.prefix $=>",
    //===//           bizId: "<=$ idGenerate.bizId $=>",
    //===//           tableName: "<=$ table $=>",
    //===//           startValue: <=$ idGenerate.startValue $=>,
    //===//         },
    //===//         <=%- endif %=>
    //===//         actionData: this.createActionData
    //===//       }
    //===//     }
    //===//   })
    //===//   await window.jhMask.hide();
    //===//   await window.vtoast.success("新增数据成功");
    //===// },
    //===// async closeCreateDrawer() {
    //===//   this.isCreateDrawerShown = false;
    //===//   this.createItem = {};
    //===//   this.createActionData = null;
    //===// },
    // ---------- <<<<<<<<<<< 新增数据 uiAction ---------
    //===// <=%- endif %=>

    //===// <=%- if updateDrawerContent %=>
    // ---------- 修改数据 uiAction >>>>>>>>>>>> --------
    //===// async prepareUpdateFormData(funObj) {
    //===//   this.updateItem = _.cloneDeep(funObj);
    //===// },
    //===// async openUpdateDrawer() {
    //===//   this.isUpdateDrawerShown = true;
    //===// },
    //===// async prepareUpdateValidate() {
    //===//   if (await this.$refs.updateForm.validate()) {
    //===//     return true;
    //===//   }
    //===//   throw new Error("请完善表单信息")
    //===// },
    //===// async confirmUpdateItemDialog() {
    //===//   if (await window.confirmDialog({title: "修改", content: "确定修改吗？"}) === false) {
    //===//     throw new Error("[confirmUpdateItemDialog] 否");
    //===//   }
    //===// },
    //===// async prepareDoUpdateItem() {
    //===//   const {id, ...data} = this.updateItem;
    //===//   this.updateItemId = id;
    //===//   this.updateActionData = {
    //===//     <=%- for formItem in updateDrawerContent.contentList[0].formItemList %=>
    //===//     <=%- if formItem.model %=>
    //===//     <=$ formItem.model $=>: data.<=$ formItem.model $=>,
    //===//     <=%- endif %=>
    //===//     <=%- endfor %=>
    //===//   };
    //===// },
    //===// async doUpdateItem() {
    //===//   await window.jhMask.show();
    //===//   await window.vtoast.loading("修改数据");
    //===//   await window.jianghuAxios({
    //===//     data: {
    //===//       appData: {
    //===//         pageId: '<=$ pageId $=>',
    //===//         actionId: 'updateItem',
    //===//         actionData: this.updateActionData,
    //===//         where: {id: this.updateItemId}
    //===//       }
    //===//     }
    //===//   })
    //===//   await window.jhMask.hide();
    //===//   await window.vtoast.success("修改数据成功");
    //===// },
    //===// async closeUpdateDrawer() {
    //===//   this.isUpdateDrawerShown = false;
    //===//   this.updateItem = {};
    //===//   this.updateActionData = null;
    //===//   this.updateItemId = null;
    //===// },
    // ---------- <<<<<<<<<<< 修改数据 uiAction ---------
    //===// <=%- endif %=>
    
    //===// <=%- if deleteContent %=>
    // ---------- 删除数据 uiAction >>>>>>>>>>>> --------
    //===// async prepareDeleteFormData(funObj) {
    //===//   this.deleteItem = _.cloneDeep(funObj);
    //===// },
    //===// async confirmDeleteItemDialog() {
    //===//   if (await window.confirmDialog({title: "删除", content: "确定删除吗？"}) === false) {
    //===//     throw new Error("[confirmDeleteItemDialog] 否");
    //===//   }
    //===// },
    //===// async prepareDoDeleteItem() {
    //===//   const {id} = this.deleteItem;
    //===//   this.deleteItemId = id;
    //===// },
    //===// async doDeleteItem() {
    //===//   await window.vtoast.loading("删除数据");
    //===//   await window.jianghuAxios({
    //===//     data: {
    //===//       appData: {
    //===//         pageId: '<=$ pageId $=>',
    //===//         actionId: 'deleteItem',
    //===//         actionData: {},
    //===//         where: {id: this.deleteItemId}
    //===//       }
    //===//     }
    //===//   });
    //===//   await window.vtoast.success("删除数据成功");
    //===// },
    //===// async clearDeleteItem() {
    //===//   this.deleteItem = {};
    //===//   this.deleteItemId = null;
    //===// },
    // ---------- <<<<<<<<<<< 删除数据 uiAction ---------
    //===// <=%- endif %=>

    //===// <=%- if common and common.methods %=> 
    // ---------- Custom uiAction >>>>>>>>>>>> --------
    //===// <=%- for key, value in common.methods %=> 
    //===// <=$ value | variableToVar(key) | safe $=>,
    //===// <=%- endfor %=>
    // ---------- <<<<<<<<<<< Custom uiAction ---------
    //===// <=%- endif %=>

    //===// <=%- if drawerList.length %=>
    // ---------- 抽屉列表 uiAction >>>>>>>>>>>> --------
    //===// <=%- for drawer in drawerList %=>
    //===// async open<=$ drawer.key | ucfirst $=>Drawer() {
    //===//   this.is<=$ drawer.key | ucfirst $=>DrawerShown = true;
    //===// },
    //===// async close<=$ drawer.key | ucfirst $=>Drawer() {
    //===//   this.is<=$ drawer.key | ucfirst $=>DrawerShown = false;
    //===// },
    //===// <=%- endfor %=>
    //===// <=%- endif %=>
  }
})
</script>
<style>
</style>
<!-- <=$ componentPath.split('/').pop() $=>.html end -->
