{% extends 'template/jhTemplateV3.html'%}

{% block vue_template %}

<jh-layout-v3>

  <!-- 页面主要内容 -->
    <v-card :class="{'px-2': isMobile}">
      <v-row class="ma-0 align-center flex-none pt-0 " :class="{'pa-4': !isMobile, 'pb-0': !isMobile, 'pa-2': isMobile}">

        <v-col cols="12" xs="12" sm="4" md="4" xl="4" class="pl-0">
          <v-btn color="success" dark class="elevation-0 mr-2" @click="doUiAction('startCreateItem', null)">新增
          </v-btn>
          <span class="body-2">共{{ tableDataFromBackend.length }}条记录</span>
        </v-col>

        <v-spacer></v-spacer>

        <v-col cols="12" xs="8" sm="4" md="3" xl="3" class="px-0" >
          <v-text-field v-model="searchInput" color="success" prefix="表格过滤：" class="cus-v-input" dense filled single-line></v-text-field>
        </v-col>

      </v-row>
      <v-data-table fixed-header
                    :headers="headers"
                    :items="tableDataFromBackend"
                    :search="searchInput"
                    :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }"
                    :items-per-page="20"
                    :loading="isTableLoading"
                    checkbox-color="success"
                    mobile-breakpoint="0"
                    :class="{'mx-2': isMobile}"
                    class="elevation-0 mt-0 flex-fill d-flex flex-column">
        <template v-slot:item.filePath="{ item }">
          <v-btn small class="mr-2 primary" v-if="item.filePath" @click="filePreview({item})">查看</v-btn>
          <a>{{item.filePath}}</a>
        </template>
        <template v-slot:item.action="{ item }">
          <v-btn small class="mr-2 success" @click="doUiAction('startUpdateItem', {item})">
            修改
          </v-btn>
          <v-btn small class="mr-2 error" @click="doUiAction('deleteItem', {item})">
            删除
          </v-btn>
        </template>
      </v-data-table>
    </v-card>

<v-overlay app :value="isEditDrawerShow"></v-overlay>
  <!-- 编辑抽屉 -->
  <v-navigation-drawer v-model="isEditDrawerShow" :permanent="isEditDrawerShow" fixed temporary right width="80%" hide-overlay class="elevation-24">
    <v-form v-model="isFormValid" ref="form" lazy-validation>
      <v-row class="pt-8">
        <span class="title pa-6" :class="{'pl-12': !isMobile, 'pl-6': isMobile}">{{ currentClickButton.title }}文件</span>
        <v-spacer></v-spacer>
        <v-btn class="mt-6 elevation-0" :class="{'mr-16': !isMobile, 'mr-8': isMobile}" fab x-small @click="isEditDrawerShow = false">
          <v-icon dark>mdi-close</v-icon>
        </v-btn>
      </v-row>
      <v-row :class="{'px-10': !isMobile, 'px-3': isMobile, 'pb-7': isMobile}" v-if="isEditDrawerShow">
        <v-col v-if="currentClickButton.action === 'add'" cols="12" sm="12" md="6" xl="6" :class="{'pa-0': isMobile, 'px-3': isMobile, 'pt-6': isMobile}">
          <span class="inputLabel">文件</span>
          <v-file-input v-model="inputFile" class="cus-v-input mr-2" dense filled single-line chips label="请选择文件" ></v-file-input>
        </v-col>
         
        <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
          <span class="inputLabel">学生ID</span>
          <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['studentId']"></v-text-field>
        </v-col> 
        <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
          <span class="inputLabel">学生名字</span>
          <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['name']"></v-text-field>
        </v-col> 
        <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
          <span class="inputLabel">性别</span>
          <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['gender']"></v-text-field>
        </v-col> 
        <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
          <span class="inputLabel">出生日期</span>
          <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['dateOfBirth']"></v-text-field>
        </v-col> 
        <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
          <span class="inputLabel">班级ID</span>
          <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['classId']"></v-text-field>
        </v-col> 
        <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
          <span class="inputLabel">年级</span>
          <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['level']"></v-text-field>
        </v-col> 
        <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
          <span class="inputLabel">身高</span>
          <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['bodyHeight']"></v-text-field>
        </v-col> 
        <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
          <span class="inputLabel">学生状态</span>
          <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['studentStatus']"></v-text-field>
        </v-col> 
        <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
          <span class="inputLabel">备注</span>
          <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['remarks']"></v-text-field>
        </v-col> 
      </v-row>
      <v-row class="justify-end mx-0 mt-8" :class="{'px-10': !isMobile, 'px-3': isMobile, 'mb-8': isMobile}">
        <v-btn color="success" @click="doUiAction(dialogSaveInfoAction)">保存</v-btn>
        <v-btn class="elevation-0 mr-2 ml-2" @click="isEditDrawerShow = false">取消</v-btn>
      </v-row>
    </v-form>
  </v-navigation-drawer>

  <v-overlay :value="overlay" @click="overlay = false" :opacity="0.85"  style="z-index: 9999;">
    <v-icon style="position: fixed; right: 30px; top: 30px;" large color="white"
      @click="overlay = false" :color="fileType === 'pdf' ? '#ccc' : ''">
      mdi-close-circle
    </v-icon>
    <v-icon style="position: fixed; right: 80px; top: 30px;" large color="white"
      @click="doUiAction('downloadFileByStream', {item: editItem})" :color="fileType === 'pdf' ? '#ccc' : ''">
      mdi-download
    </v-icon>
    <iframe v-if="fileType === 'pdf'" id="pdfPlayer" :src="fileSrc" frameborder="0"
     style="width: 100vw; height: 100vh; padding: 50px 0 0 0;"></iframe>
    <v-img v-else max-height="800" max-width="800" :src="fileSrc"></v-img>
  </v-overlay>
</jh-layout-v3>

{% endblock %}

{% block vue_body %}

<script type="module">
  new Vue({
    el: '#app',
    template: '#app-template',
    vuetify: new Vuetify(),
    data: {
      isMobile: window.innerWidth < 600,
      // 表格相关数据
      isFormValid: true,
      requireRules: [ v => !!v || 'This is required' ],
      isEditDrawerShow: false,
      searchInput: null,
      isTableLoading: true,
      tableDataFromBackend: [],
      headers: [
        {text: "ID", value: "id", width: 120, required: true, class: 'fixed', cellClass: 'fixed'},
        {text: "文件", value: "filePath", width: 250},
           
        {text: "学生ID", value: "studentId", width: 120}, 
        {text: "学生名字", value: "name", width: 120}, 
        {text: "性别", value: "gender", width: 120}, 
        {text: "出生日期", value: "dateOfBirth", width: 120}, 
        {text: "班级ID", value: "classId", width: 120}, 
        {text: "年级", value: "level", width: 120}, 
        {text: "身高", value: "bodyHeight", width: 120}, 
        {text: "学生状态", value: "studentStatus", width: 120}, 
        {text: "备注", value: "remarks", width: 120}, 
        {text: "操作人", value: "operationByUser", width: 120},
        {text: "操作时间", value: "operationAt", width: 250},
        {text: '操作', value: 'action', align: 'center', sortable: false, width: 200, class: 'fixed', cellClass: 'fixed'}
      ],

      currentClickButton: {title: '新增', action: 'add'},
      editItem: {},
      inputFile: null,
      downloadPrefix: `${window.location.origin}/<$ ctx.app.config.appId $>/upload`,
      dialogSaveInfoAction: '',
      overlay: false,
      fileType: '',
      fileSrc: '',
      previewPrefix: `/<$ ctx.app.config.appId $>/upload`,
    },
    watch: {},
    async created() {
    },
    mounted() {
      this.doUiAction('refreshTableData');
    },
    methods: {
      async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case 'refreshTableData':
            await this.refreshTableData(uiActionData);
            break;
          case 'startCreateItem':
            await this.clearItemData(uiActionData);
            await this.openCreateItemDialog(uiActionData);
            break;
          case 'createItem':
            await this.prepareValidate(uiActionData);
            await this.confirmCreateItemDialog(uiActionData);
            await this.doCreateItem(uiActionData);
            await this.refreshTableData(uiActionData);
            await this.closeDrawerShow(uiActionData);
            break;
          case 'startUpdateItem':
            await this.prepareItemData(uiActionData);
            await this.openUpdateItemDialog(uiActionData);
            break;
          case 'updateItem':
            await this.prepareValidate(uiActionData);
            await this.confirmUpdateItemDialog(uiActionData);
            await this.doUpdateItem(uiActionData);
            await this.refreshTableData(uiActionData);
            await this.closeDrawerShow(uiActionData);
            break;
          case 'deleteItem':
            await this.confirmDeleteItemDialog(uiActionData);
            await this.prepareItemData(uiActionData);
            await this.doDeleteItem(uiActionData);
            await this.refreshTableData(uiActionData);
            break;
          case 'downloadFileByStream':
            await this.downloadFileByStream(uiActionData);
            break;
          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },
      /**
       * 获取表格数据
       */
      async refreshTableData() {
        this.isTableLoading = true;
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'studentManagement',
              actionId: 'selectItemList',
              orderBy: [{column: 'operationAt', order: 'desc'}]
            }
          }
        });

        this.tableDataFromBackend = result.data.appData.resultData.rows;
        this.isTableLoading = false;
      },

      // startCreateItem
      async clearItemData() {
        this.editItem = {};
        this.inputFile = null;
      },

      async openCreateItemDialog() {
        this.currentClickButton = {action: 'add', title: '新增'};
        this.isEditDrawerShow = true;
        this.dialogSaveInfoAction = 'createItem';
      },

      // 表单验证
      async prepareValidate() {
        if (await this.$refs.form.validate() === false) {
          throw new Error("[prepareValidate] false");
        }
      },

      // createItem
      async confirmCreateItemDialog() {
        if (await window.confirmDialog({title: "新增", content: "确定新增吗？"}) === false) {
          throw new Error("[confirmCreateFormDialog] 否");
        }
      },

      /**
       * 新增数据
       */
      async doCreateItem() {
        const { id, ...createData } = this.editItem;
        await window.vtoast.loading("保存中");
        const fileDesc = this.editItem.fileDesc;
        const file = this.inputFile
        window.vtoast.loading(`${file.name} 上传进度: 0.00%`);
        const {data: {status, appData: {resultData: {downloadPath}}} } = await window.jianghuAxios.httpUploadByStream({
            fileDesc,
            file,
            fileDirectory: 'testFile',
            onProgress: (total, loaded) => {
              const progress = Number((loaded * 100 / total).toFixed(2));
              window.vtoast.loading(`${file.name} 上传进度: ${progress}%`);
              if (loaded === total) {
                window.vtoast.success(`${file.name} 上传进度: 100%`);
              }
            }
          })
        
        if (status === 'success') {
          await window.jianghuAxios({
            data: {
              appData: {
                pageId: 'studentManagement',
                actionId: 'insertItem',
                actionData: {...createData, filePath: downloadPath}
              }
            }
          })
          await window.vtoast.success("新增数据成功");
        } else {
          await window.vtoast.fail("文件上传失败");
        }
      },

      // startUpdateItem
      async prepareItemData({item}) {
        this.editItem = {...item};
      },

      async openUpdateItemDialog() {
        this.currentClickButton = {action: 'edit', title: '修改'};
        this.isEditDrawerShow = true;
        this.dialogSaveInfoAction = 'updateItem';
      },

      // updateItem
      async confirmUpdateItemDialog() {
        if (await window.confirmDialog({title: "修改", content: "确定修改吗？"}) === false) {
          throw new Error("[confirmUpdateItemDialog] 否");
        }
      },

      /**
       * 保存学生
       */
      async doUpdateItem() {
        await window.vtoast.loading("保存中");
        const { id, ...data } = this.editItem;
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'studentManagement',
              actionId: 'updateItem',
              actionData: data,
              where: {id}
            }
          }
        })
        await window.vtoast.success("修改成功");
      },

      // 关闭抽屉
      async closeDrawerShow() {
        this.isEditDrawerShow = false;
      },

      // deleteItem
      async confirmDeleteItemDialog() {
        if (await window.confirmDialog({title: "删除", content: "确定删除吗？"}) === false) {
          throw new Error("[confirmDeleteItemDialog] 否");
        }
      },

      /**
       * 删除数据
       */
      // TODO::只是删除了 _file表中的数据，并没有删除文件
      async doDeleteItem() {
        const { id } = this.editItem;
        window.vtoast.loading('正在删除')
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'studentManagement',
              actionId: 'deleteItem',
              where: {id}
            }
          }
        });
        window.vtoast.success('删除成功')
      },


      /**
       * 文件stream下载
       */
      // TODO::下载未成功时无错误响应
      async downloadFileByStream({ item }) {
        const downloadPath = item.filePath
        const filename = item.filename || downloadPath.split('/').pop()
        window.vtoast.loading(`${filename} 下载进度: 0%`);
        const buffer = await window.jianghuAxios.httpDownloadByStream({
          downloadPath,
          filename,
          onProgress: (total, loaded) => {
            const progress = Number((loaded * 100 / total).toFixed(2));
            window.vtoast.loading(`${filename} 下载进度: ${progress}%`);
            if (total === loaded) {
              window.vtoast.success("下载完成");
            }
          }
        })
        window.jianghuAxios.downloadBufferToChrome({ buffer, filename });
      },
      filePreview({ item }) {
        this.editItem = item;
        if (!item.filePath) return;
        const fileType = item.filePath.split('.');
        if (/\.(pdf|PDF)$/.test(item.filePath)) {
          this.fileType = 'pdf';
          this.fileSrc = '/<$ ctx.app.config.appId $>/public/pdf/web/viewer.html?file=' + encodeURIComponent(this.previewPrefix + item.filePath);
          this.overlay = true;
        }
        if (/\.(gif|jpg|jpeg|png|GIF|JPG|PNG)$/.test(item.filePath)) {
          this.fileType = 'img';
          this.fileSrc = this.previewPrefix + item.filePath;
        }
        console.log(this.fileSrc)
        this.overlay = true;
      },
    }
  })
</script>


{% endblock %}
