{% extends 'template/xiaochengxuTemplateV3.html'%}

{% block vue_template %}

<xiaochengxu-layout-v3>
  <template slot="serverSearch">
    <v-row class="ma-0 align-center" :class="{'pa-0': isMobile, 'pa-2': !isMobile}" style="justify-content: end">

  <v-spacer></v-spacer>
  <v-col cols="12" xs="8" sm="4" md="3" xl="3" class="pa-xs-0 pa-xs-2 col-sm-8-flex pl-0">
    <v-select class="cus-v-input mr-2" v-model="categoryPublishStatusSelectList" prefix="分类状态："
    :items="constantCollection.categoryPublishStatus" dense filled single-line multiple persistent-hint></v-select>
  </v-col>


  <v-col cols="12" xs="3" sm="3" md="2" xl="2" class="pa-xs-0 pa-xs-2 col-sm-8-flex">
    <v-text-field v-model="searchInput" label="表格过滤" class="cus-v-input" dense filled single-line ></v-text-field>
  </v-col>

  <v-col class="pl-0" :class="{'pr-0': isMobile, 'pt-0': isMobile}" style="max-width: 77px">
    <v-btn
     class="elevation-0" color="success" dark @click="doUiAction('refreshTableData')">查询
    </v-btn>
</v-col>

</v-row>
</template>

<!-- 页面主要内容 -->
<v-container class="fullScreen d-flex flex-column pa-xs-0 pa-0">
  <v-card>
  <v-row class="ma-0 pa-xs-4 align-center flex-none pt-0 " :class="{'pa-4': !isMobile, 'pb-0': !isMobile, 'pa-2': isMobile}">

    <v-col cols="12" xs="4" sm="4" md="4" xl="4" class="pl-0">
      <v-btn color="success" dark class="elevation-0 mr-2" @click="doUiAction('startCreateItem')">新增</v-btn>
      <span class="body-2">共{{ tableData.length }}条记录</span>
    </v-col>

  </v-row>
  <v-data-table fixed-header
                :headers="headers"
                :items="tableData"
                :search="searchInput"
                :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }"
                :items-per-page="-1"
                mobile-breakpoint="0"
                :loading="isTableLoading"
                checkbox-color="success"
                class="elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">
    <template v-slot:item.categoryPublishStatus="{ item }">
      {{ categoryPublishStatusMap[item.categoryPublishStatus] || item.categoryPublishStatus }}
    </template>
    <template v-slot:item.action="{ item }">
      <v-btn small class="mr-2 success" @click="doUiAction('startUpdateItem', {item})">修改</v-btn>
      <v-btn small class="mr-2 error" @click="doUiAction('deleteItem', {item})">删除</v-btn>
      <v-badge color="success" :content="`${item.firstDraftCount}`" overlap>
        <v-btn small class="mr-2 default" @click.stop="doUiAction('goToDraftManagementPage', {item, articleStatus: 'firstDraft' })">
          一稿管理
        </v-btn>
      </v-badge>
    </template>
  </v-data-table>
  </v-card>
</v-container>

<!-- 新增 -->
<v-navigation-drawer v-model="isAddDrawerShow" :permanent="isAddDrawerShow" fixed temporary right width="80%" hide-overlay class="elevation-24">
  <v-form v-model="isFormValid" v-if="isAddDrawerShow" ref="form" lazy-validation>
    <v-row>
      <span class="title pa-6">新增信息</span>
      <v-spacer></v-spacer>
      <v-btn class="mt-7 mr-8 elevation-0" fab x-small @click="isAddDrawerShow = false">
        <v-icon dark>mdi-close</v-icon>
      </v-btn>
    </v-row>
    <v-row class="pa-0 ma-0 pa-xs-4 pb-xs-4 flex-none">

      <v-col cols="12" sm="12" md="4" xl="3" class="pa-xs-0 pb-xs-4 pb-3">
        <span class="inputLabel">分类ID</span>
        <v-text-field class="cus-v-input mr-2" dense filled single-line v-model="addItem['categoryId']"></v-text-field>
      </v-col>

      <v-col cols="12" sm="12" md="4" xl="3" class="pa-xs-0 pb-xs-4 pb-3">
        <span class="inputLabel">分类名称</span>
        <v-text-field class="cus-v-input mr-2" dense filled single-line v-model="addItem['categoryName']"></v-text-field>
      </v-col>

      <v-col cols="12" sm="12" md="4" xl="3" class="pa-xs-0 pb-xs-4 pb-3">
        <span class="inputLabel">分类分组</span>
        <v-text-field class="cus-v-input mr-2" dense filled single-line v-model="addItem['categoryGroup']"></v-text-field>
      </v-col>

      <v-col cols="12" sm="12" md="4" xl="3" class="pa-xs-0 pb-xs-4 pb-3">
        <span class="inputLabel">分类分组排序</span>
        <v-text-field class="cus-v-input mr-2" dense filled single-line v-model="addItem['categoryGroupSort']"></v-text-field>
      </v-col>

      <v-col cols="12" sm="12" md="4" xl="3" class="pa-xs-0 pb-xs-4 pb-3">
        <span class="inputLabel">分类简介</span>
        <v-text-field class="cus-v-input mr-2" dense filled single-line v-model="addItem['categoryIntro']"></v-text-field>
      </v-col>

      <v-col cols="12" sm="12" md="4" xl="3" class="pa-xs-0 pb-xs-4 pb-3">
        <span class="inputLabel">发布状态</span>
        <v-select class="cus-v-input mr-2" dense filled single-line clearable v-model="addItem['categoryPublishStatus']" :items="constantCollection.categoryPublishStatus"></v-select>
      </v-col>
    </v-row>
    <v-row class="justify-end pr-6">
      <v-btn color="success" small @click="doUiAction('createItem')" :style="{width: isMobile ? 'calc(100% - 45px)' : '200px'}" :class="{'mb-2': isMobile, 'mr-4': isMobile}">新增</v-btn>
      <v-btn class="ml-2" small @click="isAddDrawerShow = false" :style="{width: isMobile ? 'calc(100% - 45px)' : '200px'}" :class="{'mr-4': isMobile}">取消</v-btn>
    </v-row>
  </v-form>
</v-navigation-drawer>


<!-- 编辑抽屉 -->
<v-navigation-drawer v-model="isEditDrawerShow" :permanent="isEditDrawerShow" fixed temporary right width="80%" hide-overlay class="elevation-24">
  <v-form v-model="isFormValid" v-if="isEditDrawerShow" ref="form" lazy-validation>
    <v-row>
      <span class="title pa-6">编辑信息</span>
      <v-spacer></v-spacer>
      <v-btn class="mt-7 mr-8 elevation-0" fab x-small @click="isEditDrawerShow = false">
        <v-icon dark>mdi-close</v-icon>
      </v-btn>
    </v-row>
    <v-row class="pa-0 ma-0 pa-xs-4 pb-xs-4 flex-none">

      <v-col cols="12" sm="12" md="4" xl="3" class="pa-xs-0 pb-xs-4 pb-3">
        <span class="inputLabel">分类ID</span>
        <v-text-field class="cus-v-input mr-2" dense filled single-line v-model="editItem['categoryId']" disabled></v-text-field>
      </v-col>

      <v-col cols="12" sm="12" md="4" xl="3" class="pa-xs-0 pb-xs-4 pb-3">
        <span class="inputLabel">分类名称</span>
        <v-text-field class="cus-v-input mr-2" dense filled single-line v-model="editItem['categoryName']"></v-text-field>
      </v-col>

      <v-col cols="12" sm="12" md="4" xl="3" class="pa-xs-0 pb-xs-4 pb-3">
        <span class="inputLabel">分类分组</span>
        <v-text-field class="cus-v-input mr-2" dense filled single-line v-model="editItem['categoryGroup']"></v-text-field>
      </v-col>

      <v-col cols="12" sm="12" md="4" xl="3" class="pa-xs-0 pb-xs-4 pb-3">
        <span class="inputLabel">分类分组排序</span>
        <v-text-field class="cus-v-input mr-2" dense filled single-line v-model="editItem['categoryGroupSort']"></v-text-field>
      </v-col>

      <v-col cols="12" sm="12" md="4" xl="3" class="pa-xs-0 pb-xs-4 pb-3">
        <span class="inputLabel">分类简介</span>
        <v-text-field class="cus-v-input mr-2" dense filled single-line v-model="editItem['categoryIntro']"></v-text-field>
      </v-col>

      <v-col cols="12" sm="12" md="4" xl="3" class="pa-xs-0 pb-xs-4 pb-3">
        <span class="inputLabel">发布状态</span>
        <v-select class="cus-v-input mr-2" dense filled single-line clearable v-model="editItem['categoryPublishStatus']" :items="constantCollection.categoryPublishStatus"></v-select>
      </v-col>
    </v-row>
    <v-row class="justify-end pr-6">
      <v-btn color="success" small @click="doUiAction('updateItem')" :style="{width: isMobile ? 'calc(100% - 45px)' : '200px'}" :class="{'mb-2': isMobile, 'mr-4': isMobile}">保存</v-btn>
      <v-btn class="ml-2" small @click="isEditDrawerShow = false" :style="{width: isMobile ? 'calc(100% - 45px)' : '200px'}" :class="{'mr-4': isMobile}">取消</v-btn>
    </v-row>
  </v-form>
</v-navigation-drawer>

</xiaochengxu-layout-v3>

{% endblock %}

{% block vue_body %}

{% include 'layout/xiaochengxuLayout.html' %}
{% include 'common/resetTableMaxHeight.html' %}

<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({
    // 表格相关数据
    isFormValid: true,
    requireRules: [
      v => !!v || 'This is required',
    ],
    constantCollection: {
      categoryPublishStatus: [
        { text: "公开", value: "public" },
        { text: "登录可见", value: "login" },
        { text: "草稿", value: "draft" },
        { text: "回收站", value: "deleted" },
      ],
    },

    categoryPublishStatusSelectList: [ 'public', 'login' ],
    serverSearchInput: {
      studentId: null,
      classId: null
    },
    searchInput: null,
    isTableLoading: true,
    tableDataFromBackend: [],
    headers: [
      {text: "ID", value: "id", width: 120, class: 'fixed', cellClass: 'fixed'},

      {text: "分类ID", value: "categoryId", width: 120},
      {text: "分类名称", value: "categoryName", width: 200},
      {text: "分类分组", value: "categoryGroup", width: 120},
      {text: "分类分组排序", value: "categoryGroupSort", width: 120},
      // {text: "分类目录中需要省略的文字", value: "categoryArticleIgnoreTiltle", width: 200},
      {text: "分类简介", value: "categoryIntro", width: 120},
      {text: "发布状态", value: "categoryPublishStatus", width: 120},
      {text: "创建时间", value: "categoryCreateTime", width: 220},
      {text: "创建者", value: "categoryCreateUsername", width: 120},
      {text: "修改时间", value: "categoryUpdateTime", width: 220},
      {text: "修改者", value: "categoryUpdateUsername", width: 120},
      {text: '操作', value: 'action', align: 'center', sortable: false, width: 450, class: 'fixed', cellClass: 'fixed'},
    ],
    isEditDrawerShow: false,
    editItem: {},
    isAddDrawerShow: false,
    addItem: {}
  }),
  computed: {
    isMobile() {
      return window.innerWidth < 600;
    },
    tableData() {
      return this.tableDataFromBackend.filter(({ categoryPublishStatus }) => this.categoryPublishStatusSelectList.indexOf(categoryPublishStatus) > -1);
    },
    categoryPublishStatusMap() {
      const map = {};
      this.constantCollection.categoryPublishStatus.forEach(constantObj => {
        map[constantObj.value] = constantObj.text;
      })
      return map;
    },
  },
  watch: {},
  async created() {
    await this.doUiAction('refreshTableData');
  },
  mounted() {},
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'refreshTableData':
          await this.refreshTableData();
          break;
        case 'startCreateItem':
          await this.clearItemData();
          await this.openCreateItemDialog();
          break;
        case 'createItem':
          await this.confirmCreateItemDialog();
          await this.doCreateItem();
          await this.closeDrawerShow();
          await this.refreshTableData();
          break;
        case 'startUpdateItem':
          await this.prepareItemData(uiActionData);
          await this.openUpdateDialog();
          break;
        case 'updateItem':
          await this.confirmUpdateItemDialog();
          await this.doUpdateItem();
          await this.closeDrawerShow();
          await this.refreshTableData();
          break;
        case 'deleteItem':
          await this.confirmDeleteItemDialog();
          await this.doDeleteItem(uiActionData);
          await this.refreshTableData();
          break;
        case 'goToDraftManagementPage':
          await this.goToDraftManagementPage(uiActionData);
          break;
        default:
          console.error("[doUiAction] uiActionId not find", { uiActionId });
          break;
      }
    },
    // =================================uiAction 公共方法 start ======================================
    async refreshTableData() {
      this.isTableLoading = true;
      const serverSearchInput = _.pickBy(this.serverSearchInput, value=> !!value);
      const { data: { appData: { resultData: {rows} } } } = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'categoryManagement',
            actionId: 'selectItemList',
            actionData: {},
            where: {},
            whereLike: serverSearchInput,
            orderBy: [{column: 'operationAt', order: 'desc'}]
          }
        }
      });

      this.tableDataFromBackend = rows;
      this.isTableLoading = false;
    },
    // =================================uiAction 公共方法 end ======================================

    /**
     * uiActionId:  refreshTableData
     * description: ✅获取表格数据
     * main:   [{"function":"refreshTableData"}]
    */

    /**
     * uiActionId:  startCreateItem
     * description: ✅获取表格数据
     * main:   [{"function":"clearItemData"},{"function":"openCreateItemDialog"}]
    */
    async clearItemData() {
      this.addItem = {};
    },
    async openCreateItemDialog() {
      this.isAddDrawerShow = true;
    },

    async confirmCreateItemDialog() {
      if (await window.confirmDialog({title: "新增", content: "确定新增吗？"}) === false) {
        throw new Error("取消");
      }
    },
    async doCreateItem() {
      const { id, ...data } = this.addItem;
      await window.vtoast.loading("新增数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'categoryManagement',
            actionId: 'insertItem',
            actionData: data
          }
        }
      })
      await window.vtoast.success("新增数据成功");
    },
    async closeDrawerShow() {
      this.isEditDrawerShow = false;
      this.isAddDrawerShow = false;
    },

    async prepareItemData({item}) {
      this.editItem = {...item};
    },
    async openUpdateDialog() {
      this.isEditDrawerShow = true;
    },

    async confirmUpdateItemDialog() {
      if (await window.confirmDialog({title: "修改", content: "确定修改吗？"}) === false) {
        throw new Error("取消");
      }
    },
    async doUpdateItem() {
      const { id, ...data } = this.editItem;
      delete data.firstDraftCount;
      delete data.secondDraftCount;
      delete data.thirdDraftCount;
      delete data.categoryGroupConcat;
      await window.vtoast.loading("修改数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'categoryManagement',
            actionId: 'updateItem',
            actionData: data,
            where: {id}
          }
        }
      })
      await window.vtoast.success("修改数据成功");
    },

    async confirmDeleteItemDialog() {
      if (await window.confirmDialog({title: "删除", content: "确定删除吗？"}) === false) {
        throw new Error("取消");
      }
    },
    async doDeleteItem({item}) {
      const { id } = item;
      await window.vtoast.loading("删除数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'categoryManagement',
            actionId: 'deleteItem',
            actionData: {},
            where: { id: id }
          }
        }
      });
      await window.vtoast.success("删除数据成功");
    },

    async goToDraftManagementPage({item, articleStatus}) {
      const { categoryId } = item;
      const pageId = `${articleStatus}Management`;
      window.changeXiaochengxuPage({ pageId, query: { categoryId } });
    },
  }
})
</script>

<style scoped>
</style>
{% endblock %}
