<template>
  <!-- jh-bottomBar >>>>>>>>>>>>> -->
  <view class="jh-bottomBar">
    <div class="fixed bottom-0 left-0 w-full bg-white py-1 pl-2 box-border px-4">
			<view class="flex items-center">
				<view class="flex flex-col items-center w-1_6" @click="item.click" v-for="(item, index) in <=$ data.leftButton $=>" :key="index">
					<u-icon :name="item.icon" :color="item.color" size="20"></u-icon>
					<text :color="item.color" :text="item.text" class="text-xs">{{ item.text }}</text>
				</view>
				<view class="flex-1 pl-2">
          <div class="flex items-center">
            <u-button
              shape="circle"
              :color="item.color"
              v-for="(item, index) in <=$ data.rightButton $=>"
              :key="index"
              class="ml-2"
              @click="item.click"
              >{{ item.text }} </u-button
            >
          </div>
				</view>
			</view>
			<view class="w-full u-safe-area-inset-bottom"></view>
    </div>
  </view>
  <!-- <<<<<<<<<<<<< jh-bottomBar -->
</template>
