<template>
  <!-- jh-imageAndTexTB >>>>>>>>>>>>> -->
  <view class="jh-imageAndTexTB px-2 py-2 <=$ param.containerClass $=>" v-if="<=$ param.isShown $=>"
    <=$ param.containerAttr $=>>
    <div @click="<=$ action.click $=>">
      <div>
        <u-image radius="4" lazy-load fit="cover" width="100%" <=$ dataPrefix $=>src="<=$ param.data.imageUrl $=>"></u-image>
      </div>
      <div>
        <div class="mt-2">{{ <=$ param.data.title $=> }}</div>
        <div class="flex text-xs justify-between items-center mt-2">
          <div class="flex justify-start items-center">
            <u-tag class="mr-2" v-for="(item, index) in <=$ param.data.tag $=>" :key="index" :text="item" size="mini" <=$ dataPrefix $=>borderColor="<=$ param.data.tagBgColor $=>" <=$ dataPrefix $=>bgColor="<=$ param.data.tagBgColor $=>" <=$ dataPrefix $=>color="<=$ param.data.tagColor $=>"> </u-tag>
          </div>
          <div class="text-gray-400">
            <u--text <=$ dataPrefix $=>color="<=$ param.data.labelColor $=>" <=$ dataPrefix $=>text="<=$ param.data.label $=>" size="12"></u--text>
          </div>
        </div>
      </div>
    </div>
  </view>
  <!-- <<<<<<<<<<<<< jh-imageAndTexTB -->
</template>
