<script type="text/html" id="<=$ templateName | camelToKebab $=>">
  <div>
    <div class="pageBodyContainer px-4" style="flex: 1;">
      <!-- 页面内容 >>>>>>>>>>>>> -->
      <v-card class="rounded-lg">
        <v-row class="ma-0 pa-4">
    
          <v-col cols="12" xs="4" sm="4" md="4" xl="4" class="pa-0">
            <v-btn color="success" dark class="elevation-0 mr-2" @click="doUiAction('startCreateItem')" small>新增</v-btn>
          </v-col>
    
          <v-spacer></v-spacer>
          <v-col cols="12" xs="3" sm="3" md="3" class="pa-0">
            <v-text-field v-model="searchInput" label="表格过滤" class="jh-v-input" dense filled single-line></v-text-field>
          </v-col>
        </v-row>
        <v-data-table 
            fixed-header
            :headers="headers"
            :items="tableData"
            :search="searchInput"
            :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1], itemsPerPageText: '每页行数', itemsPerPageAllText: '所有'}"
            :items-per-page="20"
            mobile-breakpoint="0"
            :loading="isTableLoading"
            checkbox-color="success" 
            :class="{'zebraLine': showTableZebraLine }"
            class="fixed-table-height elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">
          <template v-slot:item.operationAt="{ item }">
            {{ item.operationAt && dayjs(item.operationAt).format('YYYY-MM-DD HH:mm:ss') }}
          </template>
          <template v-slot:item.action="{ item }">
            <span role="button" class="success--text font-weight-medium font-size-2 mr-2" @click="doUiAction('startUpdateItem', item)">
                <v-icon size="16" class="success--text">mdi-note-edit-outline</v-icon>详情
            </span>
            <span role="button" class="error--text font-weight-medium font-size-2" @click="doUiAction('deleteItem', item)">
                <v-icon size="16" class="error--text">mdi-trash-can-outline</v-icon>删除
            </span>
          </template>
          <!-- 没有数据 -->
          <template v-slot:loading>
              <div class="jh-no-data">数据加载中</div>
          </template>
          <template v-slot:no-data>
              <div class="jh-no-data">暂无数据</div>
          </template>
          <template v-slot:no-results>
              <div class="jh-no-data">暂无数据</div>
          </template>
          <!-- 表格分页 -->
          <template v-slot:footer.page-text="pagination">
              <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
              <span class="ml-1">共{{pagination.itemsLength}}条</span>
          </template>
        </v-data-table>
      </v-card>
      <!-- 新增 -->
      <v-navigation-drawer v-model="isAddDrawerShow" :permanent="isAddDrawerShow" fixed temporary right width="80%" class="elevation-24">
        <v-form v-model="isFormValid" v-if="isAddDrawerShow" ref="createForm" lazy-validation>
          <!--抽屉标题-->
          <v-row>
              <span class="text-subtitle-1 font-weight-medium pa-6 pl-7">新增信息</span>
          </v-row>
          <!--抽屉表单-->
          <v-row class="mt-0 px-4">
            //===// <=% for f in tableBFields %=>
            <v-col cols="12" sm="12" md="4">
              <span class="inputLabel"><=$ f.COLUMN_COMMENT.split(';')[0] $=></span>
              <v-text-field class="jh-v-input " dense filled single-line v-model="addItem.<=$ f.COLUMN_NAME $=>" <=% if f.COLUMN_NAME == primaryFieldA %=>disabled <=% endif %=>></v-text-field>
            </v-col>
            //===// <=% endfor %=>
          </v-row>
          <!--抽屉操作按钮-->
          <v-row class="mx-0 justify-end mt-4" :class="{'px-4': isMobile, 'px-6': !isMobile, 'mb-8': isMobile}">
            <v-btn color="success" @click="doUiAction('createItem')" small>保存</v-btn>
            <v-btn class="elevation-0 ml-2" @click="isAddDrawerShow = false" small>取消</v-btn>
          </v-row>
        </v-form>
        <!--抽屉关闭按钮-->
        <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isAddDrawerShow = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-navigation-drawer>
      
      
      <!-- 编辑抽屉 -->
      <v-navigation-drawer v-model="isEditDrawerShow" :permanent="isEditDrawerShow" fixed temporary right width="80%" class="elevation-24">
        <v-form v-model="isFormValid" v-if="isEditDrawerShow" ref="editForm" lazy-validation>
          <!--抽屉标题-->
          <v-row>
              <span class="text-subtitle-1 font-weight-medium pa-6 pl-7">编辑信息</span>
          </v-row>
          <!--抽屉表单-->
          <v-row class="mt-0 px-4">
            //===// <=% for f in tableBFields %=>
            <v-col cols="12" sm="12" md="4">
              <span class="inputLabel"><=$ f.COLUMN_COMMENT.split(';')[0] $=></span>
              <v-text-field class="jh-v-input " dense filled single-line v-model="editItem.<=$ f.COLUMN_NAME $=>" <=% if f.COLUMN_NAME == primaryFieldA %=>disabled <=% endif %=>></v-text-field>
            </v-col>
            //===// <=% endfor %=>
          </v-row>
          <!--抽屉操作按钮-->
          <v-row class="mx-0 justify-end mt-4" :class="{'px-4': isMobile, 'px-6': !isMobile, 'mb-8': isMobile}">
            <v-btn color="success" @click="doUiAction('updateItem')" small>修改</v-btn>
            <v-btn class="elevation-0 ml-2" @click="isEditDrawerShow = false" small>取消</v-btn>
          </v-row>
        </v-form>
        <!--抽屉关闭按钮-->
        <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isEditDrawerShow = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-navigation-drawer>
      <!-- <<<<<<<<<<<<< 页面内容 -->
    </div>
  </div>
</script>

<script>

Vue.component("<=$ templateName | camelToKebab $=>", {
    template: '#<=$ templateName | camelToKebab $=>',
    vuetify: new Vuetify(),
    props: {
      //===// <=$ primaryFieldA $=>: { type: String, default: '' },
    },
    data: () => ({
      showTableZebraLine: true,
      isHelpPageDrawerShow: false,
      title: null,
      searchInput: null,
      isTableLoading: true,
      headers: [
        //===// <=% for f in tableBFields %=>
        { text: '<=$ f.COLUMN_COMMENT $=>', value: '<=$ f.COLUMN_NAME $=>', width: 120 },//===// <=% endfor %=>
        { text: "操作者", value: "operationByUser", width: 120 },
        { text: "操作时间", value: "operationAt", width: 250 },

        { text: '操作', value: 'action', align: 'center', sortable: false, width: 120, class: 'fixed', cellClass: 'fixed' },
      ],
      drawerHeaders: [
        //===// <=% for f in tableBFields %=>
        { text: '<=$ f.COLUMN_COMMENT $=>', value: '<=$ f.COLUMN_NAME $=>', width: 120 },//===// <=% endfor %=>
        { text: "操作者", value: "operationByUser", width: 120 },
      ],
      tableDataFromBackend: [],
      isFormValid: true,
        requireRules: [
        v => !!v || 'This is required',
      ],
      constantCollection: {},
      isEditDrawerShow: false,
      editItem: {},
      isAddDrawerShow: false,
      addItem: {},
    }),
    computed: {
      isMobile() {
        return window.innerWidth < 600;
      },
      // 表格内容，即当前<=$ nameA $=>下的<=$ nameB $=>
      tableData() {
        return this.tableDataFromBackend;
      }
    },
    watch: {
      //===// <=$ primaryFieldA $=>() {
      //===//   this.doUiAction('refreshTableData');
      //===// }
    },
    async created() {
      this.doUiAction('refreshTableData');
    },
    mounted() {
    },
    methods: {
      async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case 'refreshTableData':
            await this.refreshTableData();
            break;
          case 'startCreateItem':
            await this.clearItemData();
            await this.openCreateItemDialog();
            break;
          case 'createItem':
            await this.confirmCreateItemDialog();
            await this.doCreateItem();
            await this.closeDrawerShow();
            await this.refreshTableData();
            break;
          case 'startUpdateItem':
            await this.prepareItemData(uiActionData);
            await this.openUpdateDialog();
            break;
          case 'updateItem':
            await this.confirmUpdateItemDialog();
            await this.doUpdateItem();
            await this.closeDrawerShow();
            await this.refreshTableData();
            break;
          case 'deleteItem':
            await this.confirmDeleteItemDialog();
            await this.doDeleteItem(uiActionData);
            await this.refreshTableData();
            break;
          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },
      /**
       * uiActionId:  refreshTableData
       * description: ✅获取表格数据
      */
      async refreshTableData() {
        this.isTableLoading = true;
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: '<=$ pageId $=>-<=$ templateName $=>',
              actionId: 'selectItemList',
             //===//  where: { <=$ primaryFieldA $=>: this.<=$ primaryFieldA $=> },
              orderBy: [{ column: 'operationAt', order: 'desc' }]
            }
          }
        });
        this.tableDataFromBackend = result.data.appData.resultData.rows;
        this.isTableLoading = false;
      },

      /**
       * uiActionId:  startCreateItem
       * description: ✅获取表格数据
      */
      async clearItemData() {
        this.addItem = {};
        //===// this.addItem['<=$ primaryFieldA $=>'] = this.<=$ primaryFieldA $=>;
      },

      async openCreateItemDialog() {
        this.isAddDrawerShow = true;
      },

      /**
       * uiActionId:  createItem
       * description: ✅获取表格数据
      */
      async confirmCreateItemDialog() {
        if (await window.confirmDialog({title: "新增", content: "确定新增吗？"}) === false) {
          throw new Error("取消");
        }
      },

      /**
       * 新增数据
       */
      async doCreateItem() {
        const {id, ...data} = this.addItem;
        await window.vtoast.loading("新增数据");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: '<=$ pageId $=>-<=$ templateName $=>',
              actionId: 'insertItem',
              //===// actionData: {...data, <=$ primaryFieldA $=>: this.<=$ primaryFieldA $=>}
            }
          }
        })
        await window.vtoast.success("新增数据成功");
      },

      async closeDrawerShow() {
        this.isEditDrawerShow = false;
        this.isAddDrawerShow = false;
      },

      /**
       * uiActionId:  startUpdateItem
       * description: ✅获取表格数据
      */
      async prepareItemData({item}) {
        this.editItem = {...item};
      },

      async openUpdateDialog() {
        this.isEditDrawerShow = true;
      },


      /**
       * uiActionId:  updateItem
       * description: ✅获取表格数据
      */
      async confirmUpdateItemDialog() {
        if (await window.confirmDialog({title: "修改", content: "确定修改吗？"}) === false) {
          throw new Error("取消");
        }
      },

      async doUpdateItem() {
        const {id, ...data} = this.editItem;
        await window.vtoast.loading("修改数据");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: '<=$ pageId $=>-<=$ templateName $=>',
              actionId: 'updateItem',
              actionData: data,
              where: {id: id}
            }
          }
        })
        await window.vtoast.success("修改数据成功");
      },

      /**
       * uiActionId:  deleteItem
       * description: ✅获取表格数据
      */
      async confirmDeleteItemDialog() {
        if (await window.confirmDialog({title: "确认将<=$ nameB $=>从<=$ nameA $=>删除？"}) === false) {
          throw new Error("取消");
        }
      },
      async doDeleteItem({ item }) {
        window.vtoast.loading("删除中");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: '<=$ pageId $=>-<=$ templateName $=>',
              actionId: 'deleteItem',
              where: { id: item.id }
            }
          }
        });
        window.vtoast.success("删除成功");
      },
      dayjs: dayjs,
    }
  })
</script>
