{% extends 'template/jhTemplateV3.html'%}

{% block vue_template %}
<jh-layout-v3>
<!-- 页面主要内容 -->
<v-card class="py-4">
  <v-row class="ma-0 pa-xs-4 align-center flex-none pt-0 "
         :class="{'pa-4': !isMobile, 'pb-0': !isMobile, 'pa-2': isMobile}">
    <v-tabs dense v-model="actionTab" style="width: auto;">
      <v-tab v-for="(tab, index) in tabs" :key="index">{{tab.title}}</v-tab>
    </v-tabs>
  </v-row>
  <div class="mt-4 mb-10">
    <template v-if="tabContent[actionTab]">
      <template v-for="(content, index) in tabContent[actionTab]" :key="index">
        <h3 class="px-10">{{content.title}}</h3>
        <edit-form 
          v-if="content.showForm"
          :headers="getHeaders(content)"
          :editItem="editItem"
          :currentClickButton="currentClickButton"
          :constantCollection="constantCollection"
          :showCancel="false"
          :showSave="content.showSave"
          @save="doUiAction('saveInfo')">
        </edit-form>
        <div class="mx-10 my-2" v-else>
          <v-btn block @click="addInformation(content)">
            <v-icon
                  dark
                  right
                  small
                >
                  mdi-plus
                </v-icon>
                添加{{content.title}}
          </v-btn>
        </div>
      </template>  
    </template>
  </div>
  <v-dialog
    v-model="showDialog"
    persistent
    width="70%"
  >
  <v-card>
    <v-card-title>
      <span class="py-3">新建{{currentTabContent.title}}</span>
    </v-card-title>
    <v-card-text>
      <v-container>
        <edit-form 
          :headers="getHeaders(currentTabContent)"
          :editItem="editItem"
          :currentClickButton="currentClickButton"
          :constantCollection="constantCollection"
          @save="doUiAction('saveInfo')"
          @close="showDialog = false">
        </edit-form>
      </v-container>
    </v-card-text>
  </v-card>
  </v-dialog>
</v-card>
</jh-layout-v3>

{% endblock %}

{% block vue_body %}
{% include 'component/drawerForm.html' %}
{% include 'component/editForm.html' %}
{% include 'component/globalHandler.html' %}
<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({
    globalHandler: new GlobalHandler(),
    statusFilter: [],
    searchText: null,
    tableFilterKeyword: null,
    isFormValid: true,
    requireRules: [
      v => !!v || '此项为必填项',
    ],
    constantCollection: {
      status: [
          {text: "待填写", value: 1},
          {text: "已填写", value: 2},
      ],
      status2: [
          {text: "待评定", value: 1},
          {text: "已评定", value: 2},
      ],
    },
    serverSearchForm: {
      postName: null,
      select: {},
      searchSummary: null,
    },
    isTableLoading: false,
    tableDataBackups: [],
    headers: [],
    editItem: {},
    isEditDrawerShow: false,
    currentClickButton: {},
    actionTab: 0,
    isDetailDrawerShow: false,
    tabs: [
      { title: '基本信息', action: 'basic' },
      { title: '岗位信息', action: 'post' },
    ],
    tabContent: [  
      [
        { title: '基本信息', action: 'basic', showForm: true, type: 'form' },
        { title: '通讯信息', action: 'communication', showForm: true, type: 'form' },
        { title: '教育经历', action: 'education', showForm: false, type: 'form' },
        { title: '工作经历', action: 'work', showForm: false, type: 'form' },
        { title: '证书/证件', action: 'certificate', showForm: false, type: 'form' },
        { title: '培训经历', action: 'training', showForm: false, type: 'form' },
        { title: '联系人', action: 'contact', showForm: false, type: 'form' }
      ],
      [{ title: '岗位信息', action: 'post', showForm: true, type: 'form', showSave: false }],
    ],
    showDialog: false,
    currentTabContent: {},
    postHeaders: [
      { text: "入职日期", value: "entryTime", type: 'date', required: true },
      { text: "试用期", value: "probation", type: 'select' },
      { text: "转正日期", value: "entryTime", type: 'date', required: true, disabled: true },
      { text: "工号", value: "jobNumber"},
      { text: "部门", value: "orgId", type: 'select', constant: 'org'},
      { text: "直属上级", value: "parentId", type: 'select', constant: 'employee'},
      { text: "岗位", value: "post" },
      { text: "职级", value: "postLevel"},
      { text: "工作地点", value: "workAddress" },
      { text: "详细工作地点", value: "workDetailAddress" },
      { text: "工作城市", value: "workCity" },
      { text: "招聘渠道", value: "channelId", type: 'select', },
      { text: "聘用形式", value: "employmentForms", type: 'select', required: true, disabled: true },
      { text: "员工状态", value: "status", type: 'select', disabled: true },
      { text: "司龄开始日期", value: "companyAgeStartTime", type: 'date' },
      { text: "司龄", value: "companyAge", disabled: true },
    ],
    basicHeaders: [
      { text: "姓名", value: "employeeName", required: true},
      { text: "英文名", value: "fliedHukzra"},
      { text: "手机", value: "mobile", required: true},
      { text: "证件类型", value: "idType", type: 'select' },
      { text: "证件号码", value: "idNumber" },
      { text: "性别", value: "sex", type: 'select' },
      { text: "出生日期", value: "dateOfBirth", type: 'date'},
      { text: "生日类型", value: "birthdayType", type: 'select'},
      { text: "生日", value: "birthday"},
      { text: "年龄", value: "age", disabled: true },
      { text: "是否已婚", value: "fliedBbnpqh", type: 'select' },
      { text: "是否已育", value: "fliedDxnkqj", type: 'select' },
      { text: "国家地区", value: "country", type: 'select'},
      { text: "民族", value: "nation", type: 'select'},
      { text: "政治面貌", value: "fliedLuxpii"},
      { text: "籍贯", value: "nativePlace", type: 'select' },
      { text: "户籍所在地", value: "address" },
      { text: "健康状态", value: "fliedMosheh"},
      { text: "最高学历", value: "highestEducation", type: 'select' },
    ],
    communicationHeaders: [
      { text: "手机号码", value: "entryTime" },
      { text: "个人邮箱", value: "probation" },
      { text: "QQ", value: "entryTime" },
      { text: "微信", value: "jobNumber"},
      { text: "现居住地", value: "orgId"},
      { text: "紧急联系人", value: "parentId"},
      { text: "紧急联系人电话", value: "post" },
    ],
    educationHeaders: [
      { text: "学历", value: "entryTime" },
      { text: "毕业院校", value: "probation" },
      { text: "专业", value: "entryTime" },
      { text: "入学时间", value: "jobNumber"},
      { text: "毕业时间", value: "orgId"},
      { text: "教学方式", value: "parentId"},
      { text: "是否第一学历", value: "post" },
    ],
    workHeaders: [
      { text: "工作单位", value: "entryTime" },
      { text: "职务", value: "probation" },
      { text: "工作开始时间", value: "entryTime" },
      { text: "工作结束时间", value: "jobNumber"},
      { text: "离职原因", value: "orgId"},
      { text: "证明人", value: "parentId"},
      { text: "证明人电话", value: "post" },
      { text: "工作备注", value: "post" },
    ],
    certificateHeaders: [
      { text: "证书名称", value: "entryTime" },
      { text: "证书级别", value: "probation" },
      { text: "证书/证件编号", value: "entryTime" },
      { text: "有效期起始日期", value: "jobNumber"},
      { text: "有效期到期日", value: "orgId"},
      { text: "发证机构", value: "parentId"},
      { text: "发证日期", value: "post" },
      { text: "证件备注", value: "post" },
    ],
    trainingHeaders: [
      { text: "培训课程", value: "entryTime" },
      { text: "培训机构名称", value: "probation" },
      { text: "培训开始时间", value: "entryTime" },
      { text: "培训结束时间", value: "jobNumber"},
      { text: "培训时长", value: "orgId"},
      { text: "培训成绩", value: "parentId"},
      { text: "培训证书名称", value: "post" },
      { text: "培训备注", value: "post" },
    ],
    contactHeaders: [
      { text: "联系人姓名", value: "entryTime" },
      { text: "关系", value: "probation" },
      { text: "联系人电话", value: "entryTime" },
      { text: "联系人工作单位", value: "jobNumber"},
      { text: "联系人职务", value: "orgId"},
      { text: "联系人地址", value: "parentId"},
    ],
  }),
  computed: {
    isMobile() {
      return window.innerWidth < 600;
    },
    tableData() {
      return this.tableDataBackups;
    },
    getEditItem() {
      return this.editItem;
    },
    tableHeaders(){
      const index = this.actionTab;
      return index === 0 ? this.headers : (index === 1 || index === 2) ? this.headers2 : this.headers3;
    }
  },
  watch: {
    searchText(value) {
      value = value && value.toLowerCase();
      const {constantCollection: {status = []}} = this;
      if (value) {
        this.statusFilter = status.slice()
            .filter((v) => v.text && (v.text.toLowerCase().includes(value) || v.text.includes(value)))
        return false;
      }
      this.statusFilter = status.slice();
    },
  },
  async created() {
    // await this.doUiAction('getTableData');
  },
  async mounted() {
  },
  methods: {
    dayjs,
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'getTableData':
          await this.getTableData()
          break;
        case 'handleTableButton':
          await this.globalHandler.handleTableButton(uiActionData, this)
          break;
        case 'saveInfo':
          await this.saveInfo();
          break;
      }
    },
    getHeaders(content){
      return this[`${content.action}Headers`] || []
    },
    /**
     * 获取表格数据
     */
    async getTableData() {
      this.isTableLoading = true;
      const where = _.omitBy(this.serverSearchForm.select, _.isNull);
      const {rows, count} = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'recruitPpostManagement',
            actionId: 'selectItemList',
            where,
            whereLike: {
              postName: this.serverSearchForm.postName,
            },
            limit: _.size(where) === 0 ? 200 : 99999999,
            orderBy: [
              {column: 'createTime', order: 'desc'}
            ]
          }
        }
      })).data.appData.resultData;
      this.tableDataBackups = rows;
      this.isTableLoading = false;  
    },
    /**
     * 保存数据
     */
    async saveInfo() {
      await this.doUiAction(`${this.currentClickButton.action}Save`);
    },
    addInformation(content){
      this.showDialog = true;
      this.currentTabContent = content;
    }
  }
})
</script>

<style scoped>

</style>
{% endblock %}
