{% extends 'template/xiaochengxuTemplateV3.html'%}

{% block vue_template %}

<xiaochengxu-layout-v3>


<!-- 页面主要内容 -->
<v-container class="fullScreen d-flex flex-column pa-xs-0 pa-0">
  <v-row class="ma-0 pa-xs-4 align-center flex-none pt-0 " :class="{'pa-4': !isMobile, 'pb-0': !isMobile, 'pa-2': isMobile}">
    <v-col cols="12" class="pa-xs-0  pb-3" :class="{'pb-xs-4': !isMobile}">
      小程序名: {{ xiaochengxuInfo.name }}
    </v-col>
    <v-col cols="12" class="pa-xs-0  pb-3" :class="{'pb-xs-4': !isMobile}">
      启动当前小程序的用户名: {{ xiaochengxuInfo.xiaochengxuUserId }}
    </v-col>
    <v-col cols="12" class="pa-xs-0  pb-3" :class="{'pb-xs-4': !isMobile}">
      启动当前小程序的用户昵称:{{ xiaochengxuInfo.xiaochengxuUsername }}
    </v-col>
  </v-row>

</v-container>

</xiaochengxu-layout-v3>

{% endblock %}

{% block vue_body %}

{% include 'layout/xiaochengxuLayout.html' %}

<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({
    // 表格相关数据
    isFormValid: true,
    requireRules: [
      v => !!v || 'This is required',
    ],
    xiaochengxuInfo: {}
  }),
  computed: {
    isMobile() {
      return window.innerWidth < 600;
    },
  },
  watch: {},
  async created() {
    console.log(">>>>>>>>>>>>>>>>>>>>");
    await this.getXiaochengxuInfo();
  },
  mounted() {},
  methods: {
    async getXiaochengxuInfo() {
      const result = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'allPage',
            actionId: 'getXiaochengxuInfo',
            actionData: {},
          }
        }
      })).data.appData.resultData;
      console.log("result", result);
      this.xiaochengxuInfo = result;
    }
  }
})
</script>

<style scoped>
</style>
{% endblock %}
