<script type="text/x-template" id="vue-json-editor">
  <div>
    <div class="jsoneditor-vue"></div>
  </div>
</script>

<!-- 加载页面静态资源 >>>>>>>>>>>>> -->
<link href="/<$ ctx.app.config.appId $>/public/jsoneditor/jsoneditor.css" rel="stylesheet">
<script src="/<$ ctx.app.config.appId $>/public/jsoneditor/jsoneditor.js"></script>
<!-- <<<<<<<<<<<<< 加载页面静态资源 -->

<script>
  Vue.component("vue-json-editor", {
    template: "#vue-json-editor",
    vueComponent: 'vue-json-editor',
    props: {
      value: [String, Number, Object, Array],
      showBtns: [Boolean],
      expandedOnStart: {
        type: Boolean,
        default: false
      },
      mode: {
        type: String,
        default: "tree"
      },
      modes: {
        type: Array,
        default: function () {
          return ["tree", "code", "form", "text", "view"];
        }
      },
    },
    watch: {
      value: {
        immediate: true,
        async handler(val) {
          if (!this.internalChange) {
            this.doUiAction('setEditor', val);
          }
        },
        deep: true
      }
    },
    data() {
      return {
        editor: null,
        error: false,
        json: this.value,
        internalChange: false,
        expandedModes: ["tree", "view", "form"],
        JSONEditorOptions: {},
      };
    },
    mounted() {
      this.doUiAction('init')
    },
    methods: {
      async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case 'init':
            await this.prepareInitData();
            await this.initJSONEditor();
            break;
          case 'setEditor':
            await this.setEditor(uiActionData);
            await this.clearError();
            await this.expandAll();
            break;
          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },

      // ---------- 初始化编辑器 uiAction >>>>>>>>>> --------
      prepareInitData() {
        let that = this;

        this.JSONEditorOptions = {
          mode: this.mode,
          modes: this.modes, 
          onChange() {
            try {
              let json = that.editor.get();

              that.json = json;
              that.error = false;
              that.internalChange = true;

              that.$emit("json-change", json);
              that.$emit("input", json);
              that.$emit("has-error", false);

              that.$nextTick(function () {
                that.internalChange = false;
              });
            } catch (e) {
              that.error = true;
              that.$emit("has-error", true);
            }
          },
          onModeChange() {
            that.expandAll();
          }
        };
      },
      initJSONEditor() {
        this.editor = new JSONEditor(
          this.$el.querySelector(".jsoneditor-vue"),
          this.JSONEditorOptions,
          this.json
        );
      },
      // ---------- <<<<<<<<<<< 初始化编辑器 uiAction  --------

      // ---------- 设置数据  >>>>>>>>>> --------
      async setEditor(value) {
        if (this.editor) this.editor.set(value);
      },
      clearError(){
        this.error = false;
      },
      // ---------- <<<<<<<<<<< 设置数据   --------

      // ---------- 公共方法  >>>>>>>>>> --------
      expandAll() {
        if ( this.expandedOnStart && this.expandedModes.includes(this.editor.getMode()) ) { 
          this.editor.expandAll(); 
        }
      },
      // ---------- <<<<<<<<<<< 公共方法   --------
    }
  });
</script>

<style scoped>
  .json-title {
    font-size: 16px;
    font-weight: bold;
    max-width: 380px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .ace_line_group {
    text-align: left;
  }

  .json-editor-container {
    display: flex;
    width: 100%;
  }

  .json-editor-container .tree-mode {
    width: 50%;
  }

  .json-editor-container .code-mode {
    flex-grow: 1;
  }

  .jsoneditor-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }

  .jsoneditor-vue .jsoneditor-outer {
    min-height: calc(100vh - 55vh);
  }
  textarea.jsoneditor-text, .ace-jsoneditor {
    min-height: calc(100vh - 55vh);
  }

  .jsoneditor-vue div.jsoneditor-tree {
    min-height: 350px;
  }

  .json-save-btn {
    background-color: #20A0FF;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .json-save-btn:focus {
    outline: none;
  }

  .json-save-btn[disabled] {
    background-color: #a1d6ff;
    cursor: not-allowed;
  }

  code {
    background-color: #f5f5f5;
  }

  .jsoneditor-vue-min {
    height: calc(100vh - 56vh);
  }
</style>